<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511053701447-39m2anka0cib4eri710rdf3fv3e7n731.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511053701447-39m2anka0cib4eri710rdf3fv3e7n731</string>
	<key>API_KEY</key>
	<string>AIzaSyAj_EpE6RaUc0-1e6MahBLoqtXGSIFLsJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>511053701447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test662020</string>
	<key>PROJECT_ID</key>
	<string>wealth-earn</string>
	<key>STORAGE_BUCKET</key>
	<string>wealth-earn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511053701447:ios:77d393506fe7a61911ac62</string>
</dict>
</plist>